/* brand sec start */
.brand-sec {
    padding: 80px 0px;
    .brand-items-wrap {
        .brand-item {
            font-size: 20px;
            font-weight: 700;
            color: #3A3B7B;
        }
    }
}
/* brand sec end */