$base__color: #6600CC;
$gradient_base__color: linear-gradient(97.14deg, #7579FF 7.11%, #B224EF 97.04%);
$gradient_hover_color: linear-gradient(97.14deg, #652da0 97.11%, #B224EF 7.04%);
$gradient_btn__color: linear-gradient(97.14deg, #7579FF 7.11%, #B224EF 97.04%);
$text__color: #212121;
$text_para__color: #797979;
$dark__bg__color: #292f3a;
$dark__text__color: #fff;
$dark__base__color: #91CFEE;
$dark__text__para__color: #bcbcbc;